@model MyShop.Models.Car

@{
    ViewBag.Title = "Car Details";
}

<h1>Car Details</h1>
<input type="hidden" id="carId" value="@Model.Id" />
<div class="row">
    <div class="col"></div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="@Model.ImageFileName" class="card-img-top" alt="...">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@Model.Brand</li>
                    <li class="list-group-item">@Model.Model</li>
                    <li class="list-group-item">@Model.Type</li>
                    <li class="list-group-item">@Model.Price?.ToString("C")</li>
                    <li class="list-group-item">@Model.Color</li>
                    <li class="list-group-item"><a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@Model.Id" class="btn btn-primary">Add to Cart</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>